*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  width: 1140px;
  gap: 30px;
  inline-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}

.result__video-container {
  position: relative;
}

.result__video {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 711px;
  block-size: 386px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  inline-size: 100%;
  gap: 16px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 6px;
  color: #ffffff;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  border: none;
  cursor: pointer;
  gap: 5px;
}

.search-form__textfield {
  inline-size: 225px;
  height: 22px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: none;
  text-decoration: none;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.search-form__label:has(:focus-visible) {
  outline: none;
  border: 1px solid #fff;
  /* text-decoration: none; */
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display: flex;
  content: "";
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
}

.search-formlabel:hover .search-formlabel-text {
  text-decoration: underline;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}

.button:active {
  background: #545050;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  min-height: 34px;
  min-width: 194px;
  margin-top: auto;
}

.content__detalis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 399px;
  height: 100%;
}

.title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  padding-bottom: 24px;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__list-item {
  display: flex;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__card-link {
  width: 100%;
  justify-content: space-between;
  text-decoration: none;
  margin: 2px;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline 1px #fff;
  text-underline-offset: 6px;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  display: flex;
  flex-grow: 1;
  color: white;
  flex-direction: column;
  justify-content: start;
  padding: 0 2px;
  row-gap: 4px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  padding-bottom: 6px;
  text-transform: uppercase;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 192px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #ffffff;
}

.content__video-card-thumbnail {
  display: block;
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  display: block;
  gap: 10px;
  width: 399px;
  height: 34px;
}
